
.vscode/c_cpp_properties.json

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/FileContentIndex/2154c662-54f1-480c-82be-e680ae7fd11b.vsidx

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/FileContentIndex/d76e6ae0-80ed-4ae0-b915-f4103a8c2d9f.vsidx

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/FileContentIndex/read.lock

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/v17/.suo

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/v17/Browse.VC.db

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/v17/Browse.VC.db-shm

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/v17/Browse.VC.db-wal

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/v17/Browse.VC.opendb

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/.vs/SimpleAudioPlayer/v17/ipch/AutoPCH/ed5be283de3a6b60/MAINCOMPONENT.ipch

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/SimpleAudioPlayer_App.vcxproj.user

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_basics.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_devices.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_formats.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors_ara.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors_lv2_libs.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_utils.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_core.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_data_structures.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_events.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_graphics.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_basics.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_extra.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/Main.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/MainComponent.obj

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/resources.res

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/CL.command.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/CL.read.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/CL.write.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/link.command.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/link.read.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/link.write.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/rc.command.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/rc.read.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/rc.write.1.tlog

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAu.21E462BE.tlog/SimpleAudioPlayer_App.lastbuildstate

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAudioPlayer_App.log

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAudioPlayer_App.vcxproj.FileListAbsolute.txt

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAudioPlayer.exe

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAudioPlayer.exe.recipe

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAudioPlayer.ilk

Tutorial/1) Audio Player/SimpleAudioPlayer/Builds/VisualStudio2022/x64/Debug/App/SimpleAudioPlayer.pdb
